/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.patterns-console-plugin__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.patterns-console-plugin__card {
  /* I tried hard to get box-shadow working here. CatalogTile
  will override any box-shadow properties set in this class.
  Border properties look visually similar and aren't overwritten. */
  border: rgba(3, 3, 3, 0.12) solid .05rem;
  border-top: none;
  border-right: rgba(3, 3, 3, 0.12) solid .1rem;
  border-bottom: rgba(3, 3, 3, 0.12) solid .1rem;
  color: var(--pf-c-content--Color);
  flex: 0 0 250px;
  height: 250px;
  margin: 10px;
  width: 250px;
}

/*
This is hacky but it makes it load like OperatorHub. OperatorHub catalog
uses variables for height/width that I'm not 100% where they come from. We
can't use them in this plugin though... :/
*/
.patterns-console-plugin__catalog_modal {
  height: 100%; /* This drops some off the bottom of the screen. Shouldn't be noticeable. */
  max-height: var(--pf-c-modal-box--MaxHeight);
  padding: .5rem;
  position: absolute;
  right: 0;
  top: 4.35rem;
  width: 900px;
}

.patterns-console-plugin__catalog_modal_flex_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.patterns-console-plugin__catalog_modal_properties_side_panel {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex: 1;
}

.patterns-console-plugin__catalog_modal_content {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex: 3;
  padding-left: 2rem;
}

.patterns-console-plugin__validated_badge {
  color: var(--pf-global--palette--green-400);
}

.patterns-console-plugin__community_badge {
  color: var(--pf-global--palette--blue-400);
}

.patterns-console-plugin__deploy_yaml_alert {
  box-shadow: none;
  margin: 0em 2em 2em;
  white-space: pre-wrap;
}
